
.app {
  background-color: #0E0E0E;
  color: white;
  font-family: 'Edo-sz';
  letter-spacing: 2px;
} 

img {
  max-width: 100%;
  height: auto;
}

.landing-page {
  margin-block-start: 2em;
  margin-block-end: 2em;
}