
.app {
  background-color: #0E0E0E;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
} 

h1 {
  font-family: 'Edo-sz';
}


img {
  max-width: 100%;
  height: auto;
}

.landing-page {
  margin-block-start: 2em;
  margin-block-end: 2em;
}