body {
  background-color: #111111 !important;
  color: white !important;
}

@font-face {
  font-family: "Edo-sz";
  src: url("./fonts/edosz.ttf");
  src: local("Edo-sz"), url("./fonts/edosz.ttf") format("truetype");
}
